@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: "ExtraBold";
	src: url("/fonts/Inter-ExtraBold.ttf");
}
@font-face {
	font-family: "Bold";
	src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
	font-family: "SemiBold";
	src: url("/fonts/Inter-SemiBold.ttf");
}
@font-face {
	font-family: "Medium";
	src: url("/fonts/Inter-Medium.ttf");
}
@font-face {
	font-family: "Regular";
	src: url("/fonts/Inter-Regular.ttf");
}

@layer components {
	.text-gradient {
		@apply bg-main-gradient text-transparent inline-block bg-clip-text;
	}
}
